# ---------- Shared ----------
NODE_ENV=development
PORT=3002
MONGO_URI=mongodb://localhost:27017/freshroot_product
SWAGGER_ENABLED=true
LOG_LEVEL=debug

# ---------- JWT (chỉ verify, phải TRÙNG với auth-service) ----------
JWT_ACCESS_SECRET=